html,
body {
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Oxanium', cursive; */
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 6ch;
    text-align: center;
    margin: 1ch;
    border: 2px tomato solid;
}

#size-dropdown {
    text-align: center;
    border: 2px tomato solid;
}

select {
    min-width: 180px;
    border: 1px tomato solid;

}

#chart {
    display: flex;
    flex-wrap: wrap;
    border: 1px blue solid;
    padding-left: 6ch;
    margin-left: auto;
    margin-right: auto;

}