html,
body {
    padding: 0;
    margin: 0;

}

body {
    /* font-family: 'Oxanium', cursive; */
    font-family: 'Permanent Marker', cursive;
    background-color: #fff;
}

h1 {
    font-size: 6ch;
    text-align: center;
    margin: 1ch;
}

#size-dropdown {
    text-align: center;
}

select {
    min-width: 180px;
    border: 1px tomato solid;

}

#chart {
    display: flex;
    flex-wrap: wrap;
    border: 1px blue solid;
    padding-left: 6ch;
    margin-left: auto;
    margin-right: auto;

}

#chart>div {
    background-color: transparent;
}

#chart>div:hover {
    color: beige;
    background-color: tomato;
}

.size-box {
    background-color: transparent;
    color: tomato;
}

.size-box:hover {
    background-color: tomato;
    color: beige;
}